<footer>
        <div class="kingster-footer-wrapper ">
            <div class="kingster-footer-container kingster-container clearfix">
        </div>
        
        <div class="kingster-copyright-wrapper">
            <div class="kingster-copyright-container kingster-container clearfix">
                <div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2019, Developed by Bizmarketing.us</div>
                <div class="kingster-copyright-right kingster-item-pdlr">
                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_1dd7_112">
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook">
                            <i class="fa fa-facebook" ></i>
                        </a>
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="google-plus">
                            <i class="fa fa-google-plus" ></i>
                        </a>
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin">
                            <i class="fa fa-linkedin" ></i>
                        </a>
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype">
                            <i class="fa fa-skype" ></i>
                        </a>
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter">
                            <i class="fa fa-twitter" ></i>
                        </a>
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram">
                            <i class="fa fa-instagram" ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>