<div class="kingster-top-bar">
        <div class="kingster-top-bar-background"></div>
        <div class="kingster-top-bar-container kingster-container ">
            <div class="kingster-top-bar-container-inner clearfix">
                <div class="kingster-top-bar-left kingster-item-pdlr"><i class="fa fa-envelope-open-o" id="i_fd84_0"></i> <a href="#">support@iti.edu</a><i class="fa fa-phone" id="i_fd84_1"></i> +1 (305) 554-9281</div>
                <div class="kingster-top-bar-right kingster-item-pdlr">
                    <ul id="kingster-top-bar-menu" class="sf-menu kingster-top-bar-menu kingster-top-bar-right-menu">
                        <li class="menu-item kingster-normal-menu"><a href="#">Students Services</a></li>
                    </ul>
                    <div class="kingster-top-bar-right-social"></div><a class="kingster-top-bar-right-button" href="#" target="_blank">Contact us</a></div>
            </div>
        </div>
    </div>
    <header class="kingster-header-wrap kingster-header-style-plain  kingster-style-menu-right kingster-sticky-navigation kingster-style-fixed" data-navigation-offset="75px">
        <div class="kingster-header-background"></div>
        <div class="kingster-header-container  kingster-container">
            <div class="kingster-header-container-inner clearfix">
                <div class="kingster-logo  kingster-item-pdlr">
                    <div class="kingster-logo-inner">
                        <a class="" href="index.html"><img src="images/iti-logo.svg" alt="" style="width: 260px"/></a>
                    </div>
                </div>
                <div class="kingster-navigation kingster-item-pdlr clearfix ">
                    <div class="kingster-main-menu" id="kingster-main-menu">
                        <ul id="menu-main-navigation-1" class="sf-menu">
                            <li class="menu-item menu-item-home current-menu-item menu-item-has-children kingster-normal-menu"><a href="index.html" class="sf-with-ul-pre">Home</a></li>
                            <li class="menu-item menu-item-has-children kingster-normal-menu"><a href="#" class="sf-with-ul-pre">About ITI</a>
                                <ul class="sub-menu">
                                    <li class="menu-item" data-size="60"><a href="about-us.html">History</a></li>
                                    <li class="menu-item" data-size="60"><a href="contact.html">Mission</a></li>
                                    <li class="menu-item" data-size="60"><a href="contact.html">Philosophy</a></li>
                                    <li class="menu-item" data-size="60"><a href="contact.html">Accreditations and licences</a></li>
                                    <li class="menu-item" data-size="60"><a href="contact.html">Staff</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children kingster-mega-menu"><a href="bachelor-of-science-in-business-administration.html" class="sf-with-ul-pre">Academic</a>
                                <div class="sf-mega sf-mega-full megaimg">
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-has-children" data-size="15"><a class="sf-with-ul-pre">Academic Program</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="bachelor-of-science-in-business-administration.html">Patient Care Technician</a></li>
                                                <li class="menu-item"><a href="school-of-law.html">Home Health Aide</a></li>
                                                <li class="menu-item"><a href="engineering.html">Computer Business Applications</a></li>
                                            </ul>
                                        </li>
                                     
                                        <li class="menu-item menu-item-has-children" data-size="15"><a href="#" class="sf-with-ul-pre">Resources</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="bachelor-of-science-in-business-administration.html">School Catalog</a></li>
                                                <li class="menu-item"><a href="finance.html">Placement</a></li>
                                                <li class="menu-item"><a href="finance-faculty.html">General Information</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item" data-size="15">
                                            <div class="kingster-mega-menu-section-content"><img src="images/iti-logo.svg" id="img_fd84_0" alt="" /> <span id="span_fd84_0">Our students will have the potential to
                                                become successful entry-level employees upon graduation.</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item menu-item-has-children kingster-normal-menu"><a href="apply-to-kingster.html" class="sf-with-ul-pre">Admissions</a>
                                <ul class="sub-menu">
                                    <li class="menu-item" data-size="60"><a href="campus-tour.html">Admission requirement</a></li>
                                    <li class="menu-item" data-size="60"><a href="scholarships.html">Admission Procedure</a></li>
                                    <li class="menu-item" data-size="60"><a href="apply-to-kingster.html">Class Size</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children kingster-normal-menu"><a href="#" class="sf-with-ul-pre">Schedules</a>
                            </li>
                            <li class="menu-item kingster-normal-menu"><a href="athletics.html">Financial Aid</a></li>
                            <li class="menu-item kingster-normal-menu"><a href="athletics.html">Graduation</a></li>

                        </ul>
                        <div class="kingster-navigation-slide-bar" id="kingster-navigation-slide-bar"></div>
                    </div>
                    <div class="kingster-main-menu-right-wrap clearfix ">
                        <div class="kingster-main-menu-search" id="kingster-top-search"><i class="icon_search"></i></div>
                        <div class="kingster-top-search-wrap">
                            <div class="kingster-top-search-close"></div>
                            <div class="kingster-top-search-row">
                                <div class="kingster-top-search-cell">
                                    <form role="search" method="get" class="search-form" action="#">
                                        <input type="text" class="search-field kingster-title-font" placeholder="Search..." value="" name="s">
                                        <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                        <input type="submit" class="search-submit" value="Search">
                                        <div class="kingster-top-search-close"><i class="icon_close"></i></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>