<div class="iti-mobile-header iti-header-background iti-style-slide iti-sticky-mobile-navigation " id="iti-mobile-header">
        <div class="iti-mobile-header-container iti-container clearfix">
            <div class="iti-logo  iti-item-pdlr">
                <div class="iti-logo-inner">
                    <a class="" href="index.html"><img src="images/iti-logo.svg" alt="" style="width: 260px"/></a>
                </div>
            </div>
            <div class="iti-mobile-menu-right">
                <div class="iti-main-menu-search" id="iti-mobile-top-search"><i class="fa fa-search"></i></div>
                <div class="iti-top-search-wrap">
                    <div class="iti-top-search-close"></div>
                    <div class="iti-top-search-row">
                        <div class="iti-top-search-cell">
                            <form role="search" method="get" class="search-form" action="#">
                                <input type="text" class="search-field iti-title-font" placeholder="Search..." value="" name="s">
                                <div class="iti-top-search-submit"><i class="fa fa-search"></i></div>
                                <input type="submit" class="search-submit" value="Search">
                                <div class="iti-top-search-close"><i class="icon_close"></i></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="iti-mobile-menu"><a class="iti-mm-menu-button iti-mobile-menu-button iti-mobile-button-hamburger" href="#iti-mobile-menu"><span></span></a>
                    <div class="iti-mm-menu-wrap iti-navigation-font" id="iti-mobile-menu" data-slide="right">
                        <ul id="menu-main-navigation" class="m-menu">
                                <li class="menu-item menu-item-home current-menu-item menu-item-has-children iti-normal-menu"><a href="index.html" class="sf-with-ul-pre">Home</a></li>
                                <li class="menu-item menu-item-has-children iti-normal-menu"><a href="#" class="sf-with-ul-pre">About ITI</a>
                                    <ul class="sub-menu">
                                            <li class="menu-item" data-size="60"><a href="about-us.html">Know us better</a></li>
                                            <li class="menu-item" data-size="60"><a href="staff.html">Our Staff</a></li>
                                            <li class="menu-item" data-size="60"><a href="school-policy.html">School Policy</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children iti-mega-menu"><a href="#" class="sf-with-ul-pre">Academics</a>
                                    <div class="sf-mega sf-mega-full megaimg">
                                        <ul class="sub-menu">
                                                                                       
                                                <ul class="sub-menu">
                                                        <li class="menu-item"><a href="patient-care-tech.html">Patient Care Technician</a></li>
                                                        <li class="menu-item"><a href="home-health.html">Home Health Aide</a></li>
                                                        <li class="menu-item"><a href="computer-program.html">Computer Business Applications</a></li>
                                                        <li class="menu-item"><a href="hvac-technician.html">HVAC Technician</a></li>
                                                    </ul>
                                           
                                            <li class="menu-item menu-item-has-children" data-size="15"><a href="#" class="sf-with-ul-pre">Resources</a>
                                                <ul class="sub-menu">
                                                        <li class="menu-item"><a href="upload/School Catalog.pdf" target="_blank">School Catalog</a></li>
                                                        <li class="menu-item"><a href="http://openarmscommunitycenter.org/" target="_blank">Hardship assistance</a></li>
                                                        <li class="menu-item"><a href="https://studentaid.ed.gov/" target="_blank">Federal Student Aid</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item{% if page.menu == 'admission' %} current-menu-item{% endif %} menu-item-has-children iti-normal-menu"><a href="admission.html" class="sf-with-ul-pre">Admissions</a>
                            
                                </li>
                                <li class="menu-item{% if page.menu == 'schedule' %} current-menu-item{% endif %} menu-item-has-children iti-normal-menu"><a href="schedule.html" class="sf-with-ul-pre">Schedules</a>
                                </li>
                                <li class="menu-item{% if page.menu == 'financial' %} current-menu-item{% endif %} iti-normal-menu"><a href="financial-aid.html">Financial Aid</a></li>
                                <li class="menu-item iti-normal-menu"><a href="students-services.html">Students Services</a></li>
                                <li class="menu-item iti-normal-menu"><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
