<div class="iti-mobile-header iti-header-background iti-style-slide iti-sticky-mobile-navigation " id="iti-mobile-header">
        <div class="iti-mobile-header-container iti-container clearfix">
            <div class="iti-logo  iti-item-pdlr">
                <div class="iti-logo-inner">
                    <a class="" href="index.html"><img src="images/iti-logo.svg" alt="" style="width: 260px"/></a>
                </div>
            </div>
            <div class="iti-mobile-menu-right">
                <div class="iti-main-menu-search" id="iti-mobile-top-search"><i class="fa fa-search"></i></div>
                <div class="iti-top-search-wrap">
                    <div class="iti-top-search-close"></div>
                    <div class="iti-top-search-row">
                        <div class="iti-top-search-cell">
                            <form role="search" method="get" class="search-form" action="#">
                                <input type="text" class="search-field iti-title-font" placeholder="Search..." value="" name="s">
                                <div class="iti-top-search-submit"><i class="fa fa-search"></i></div>
                                <input type="submit" class="search-submit" value="Search">
                                <div class="iti-top-search-close"><i class="icon_close"></i></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="iti-mobile-menu"><a class="iti-mm-menu-button iti-mobile-menu-button iti-mobile-button-hamburger" href="#iti-mobile-menu"><span></span></a>
                    <div class="iti-mm-menu-wrap iti-navigation-font" id="iti-mobile-menu" data-slide="right">
                        <ul id="menu-main-navigation" class="m-menu">
                                <li class="menu-item menu-item-home current-menu-item menu-item-has-children iti-normal-menu"><a href="index.html" class="sf-with-ul-pre">Home</a></li>
                                <li class="menu-item menu-item-has-children iti-normal-menu"><a href="#" class="sf-with-ul-pre">About ITI</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" data-size="60"><a href="about-us.html">History</a></li>
                                        <li class="menu-item" data-size="60"><a href="contact.html">Mission</a></li>
                                        <li class="menu-item" data-size="60"><a href="contact.html">Philosophy</a></li>
                                        <li class="menu-item" data-size="60"><a href="contact.html">Accreditations and licences</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children iti-mega-menu"><a href="#" class="sf-with-ul-pre">Academics</a>
                                    <div class="sf-mega sf-mega-full megaimg">
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-has-children" data-size="15"><a class="sf-with-ul-pre">Undergraduate</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="bachelor-of-science-in-business-administration.html">Business Administration</a></li>
                                                    <li class="menu-item"><a href="school-of-law.html">School Of Law</a></li>
                                                    <li class="menu-item"><a href="engineering.html">Engineering</a></li>
                                                    <li class="menu-item"><a href="medicine.html">Medicine</a></li>
                                                    <li class="menu-item"><a href="art-science.html">Art &#038; Science</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children" data-size="15"><a href="#" class="sf-with-ul-pre">Graduate Program</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="hospitality-management.html">Hospitality Management</a></li>
                                                    <li class="menu-item"><a href="physics.html">Physics</a></li>
                                                    <li class="menu-item"><a href="#">Chemistry</a></li>
                                                    <li class="menu-item"><a href="#">Music</a></li>
                                                    <li class="menu-item"><a href="#">Computer Science</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children" data-size="15"><a href="#" class="sf-with-ul-pre">Resources</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="bachelor-of-science-in-business-administration.html">Department Page</a></li>
                                                    <li class="menu-item"><a href="finance.html">Major Page</a></li>
                                                    <li class="menu-item"><a href="finance-faculty.html">Faculty Page</a></li>
                                                    <li class="menu-item"><a href="john-hagensy-phd.html">Single Instructor</a></li>
                                                    <li class="menu-item"><a href="introduction-to-financial-accounting.html">Single Course</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item" data-size="15">
                                                <div class="iti-mega-menu-section-content"><img src="upload/mega-menu-logo.png" id="img_fd84_0" alt="" /> <span id="span_fd84_0">Academic offerings include 95 majors, 86 minors, and more than 100 in-major specializations</span></div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item menu-item-has-children iti-normal-menu"><a href="apply-to-iti.html" class="sf-with-ul-pre">Admissions</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" data-size="60"><a href="apply-to-iti.html">Apply To iti</a></li>
                                        <li class="menu-item" data-size="60"><a href="campus-tour.html">Campus Tour</a></li>
                                        <li class="menu-item" data-size="60"><a href="scholarships.html">Scholarships</a></li>
                                        <li class="menu-item" data-size="60"><a href="athletics.html">Athletics</a></li>
                                        <li class="menu-item" data-size="60"><a href="give-to-iti.html">Give To iti</a></li>
                                        <li class="menu-item" data-size="60"><a href="alumni.html">Alumni</a></li>
                                        <li class="menu-item" data-size="60"><a href="event-calendar.html">Event Calendar</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children iti-normal-menu"><a href="#" class="sf-with-ul-pre">Courses</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" data-size="60"><a href="course-list-1.html">Course List 1</a></li>
                                        <li class="menu-item" data-size="60"><a href="course-list-2.html">Course List 2</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item iti-normal-menu"><a href="athletics.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>