<div class="iti-top-bar">
    <div class="iti-top-bar-background"></div>
    <div class="iti-top-bar-container iti-container ">
        <div class="iti-top-bar-container-inner clearfix">
            <div class="iti-top-bar-left iti-item-pdlr"><i class="fa fa-envelope-open-o" id="i_fd84_0"></i> <a href="mailto:support@iti.edu">support@iti.edu</a><i class="fa fa-phone" id="i_fd84_1"></i> +1 (305) 554-9281</div>
            <div class="iti-top-bar-right iti-item-pdlr">
                <ul id="iti-top-bar-menu" class="sf-menu iti-top-bar-menu iti-top-bar-right-menu">
                    <li class="menu-item iti-normal-menu"><a href="/students-services">Students Services</a></li>
                </ul>
                <div class="iti-top-bar-right-social"></div><a class="iti-top-bar-right-button" href="/contact" target="_self">Contact us</a></div>
        </div>
    </div>
</div>
<header class="iti-header-wrap iti-header-style-plain  iti-style-menu-right iti-sticky-navigation iti-style-fixed" data-navigation-offset="75px">
    <div class="iti-header-background"></div>
    <div class="iti-header-container  iti-container">
        <div class="iti-header-container-inner clearfix">
            <div class="iti-logo  iti-item-pdlr">
                <div class="iti-logo-inner">
                    <a class="" href="/"><img src="/assets/images/iti-logo.svg" alt="" style="width: 260px"/></a>
                </div>
            </div>
            <div class="iti-navigation iti-item-pdlr clearfix ">
                <div class="iti-main-menu" id="iti-main-menu">
                    <ul id="menu-main-navigation-1" class="sf-menu">
                        <li class="menu-item{% if page.menu == 'home' %} current-menu-item{% endif %} menu-item-home menu-item-has-children iti-normal-menu"><a href="/" class="sf-with-ul-pre">Home</a></li>
                        <li class="menu-item{% if page.menu == 'about' %} current-menu-item{% endif %} menu-item-has-children iti-normal-menu"><a href="#" class="sf-with-ul-pre">About ITI</a>
                            <ul class="sub-menu">
                                <li class="menu-item" data-size="60"><a href="/about-us">Know us better</a></li>
                                <li class="menu-item" data-size="60"><a href="/staff">Our Staff</a></li>
                                <li class="menu-item" data-size="60"><a href="/school-policy">School Policies</a></li>
                            </ul>
                        </li>
                        <li class="menu-item{% if page.menu == 'academic' %} current-menu-item{% endif %} menu-item-has-children iti-mega-menu"><a href="#" class="sf-with-ul-pre">Academic</a>
                            <div class="sf-mega sf-mega-full megaimg">
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-has-children" data-size="15"><a class="sf-with-ul-pre">Academic Programs</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="/patient-care-tech">Patient Care Technician</a></li>
                                            <li class="menu-item"><a href="/home-health">Home Health Aide</a></li>
                                            <li class="menu-item"><a href="/computer-program">Computer Business Applications</a></li>
                                            <li class="menu-item"><a href="/hvac-technician">HVAC Technician</a></li>

                                            
                                        </ul>
                                    </li>
                                    
                                    <li class="menu-item menu-item-has-children" data-size="15"><a href="#" class="sf-with-ul-pre">Resources</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="/assets/pdf/ITI_School_Catalog.pdf" target="_blank">School Catalog</a></li>
                                            <li class="menu-item"><a href="http://openarmscommunitycenter.org/" target="_blank">Hardship assistance</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item" data-size="15">
                                        <div class="iti-mega-menu-section-content"><img src="/assets/images/iti-logo.svg" id="img_fd84_0" alt="" /> <span id="span_fd84_0">Our students will have the potential to
                                            become successful entry-level employees upon graduation.</span></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item{% if page.menu == 'admission' %} current-menu-item{% endif %} menu-item-has-children iti-normal-menu"><a href="/admission" class="sf-with-ul-pre">Admissions</a>
                            
                        </li>
                       
                        <li class="menu-item{% if page.menu == 'financial' %} current-menu-item{% endif %} iti-normal-menu"><a href="#">Financial Aid</a>
                         <ul class="sub-menu">
                                            <li class="menu-item"><a href="/financial-aid" target="_self">Financial Aid Assistance</a></li>

                                            <li class="menu-item"><a href="/higher-education-emergency-relief-fund" target="_self">Emergency Relief Fund</a></li>
                                        </ul>

                        </li>

                    </ul>
                    <div class="iti-navigation-slide-bar" id="iti-navigation-slide-bar"></div>
                    
                </div>
                
            </div>
        </div>
    </div>
</header>
