---
title: Thank You | InterAmerican Technical Institute
description: Thank you for submitting your admission application to InterAmerican Technical Institute. Our admissions team will be in touch shortly.
layout: inner
subtitle: Your application has been received
h1: Thank You
headerBackimage: /assets/images/page-title-apply.jpg
---
<div class="gdlr-core-pbf-wrapper" style="margin: 60px 0;">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-container">
        <p style="font-size: 18px;">Thank you for applying to InterAmerican Technical Institute. We've received your
            information and a member of our admissions team will contact you shortly.</p>
    </div>
</div>
