<form class="quform" action="https://formsubmit.co/mirialis.barrios@iti.edu" method="POST">
    <input type="text" name="_honey" style="display:none">
    <div class="quform-element">
        <p>Academic Program <br>
            <span class="wpcf7-form-control-wrap your-name">
                <select name="programs"
                        required="required">
                        <option value="">- Select Program - </option>
                        <option value="patient-care">Patient Care Technician</option>
                        <option value="home-health">Home Health Aide</option>
                        <option value="computer-business">Computer Business Applications</option>
                        <option value="refrigeration">HVAC Technician</option>
                      </select>
            </span>
        </p>
    </div>

    <div class="quform-element">
        <p>Your Name*
            <br>
            <span class="wpcf7-form-control-wrap your-name">
                <input id="name" type="text" name="name" size="40" class="input1" aria-required="true" aria-invalid="false" required="required">
            </span>
        </p>
    </div>
    <div class="quform-element">
        <p>Last Name*
            <br>
            <span class="wpcf7-form-control-wrap your-name">
                <input id="last_name" type="text" name="last-name" size="40" class="input1" aria-required="true" aria-invalid="false" required="required">
            </span>
        </p>
    </div>
    <div class="quform-element">
        <p>Email*
            <br>
            <span class="wpcf7-form-control-wrap your-email">
                <input id="email" type="text" name="email" size="40" class="input1" aria-required="true" aria-invalid="false" required="required">
            </span>
        </p>
    </div>
    <div class="quform-element">
        <p>Phone*
            <br>
            <span class="wpcf7-form-control-wrap your-email">
                <input id="phone" type="text" name="email" size="40" class="input1" aria-required="true" aria-invalid="false" required="required">
            </span>
        </p>
    </div>
    <div class="quform-element">
        <p>Address
            <br>
            <span class="wpcf7-form-control-wrap your-email">
                <input id="email" type="text" name="email" size="40" class="input1" aria-required="true" aria-invalid="false">
            </span>
        </p>
    </div>
    <p>
        <!-- Begin Submit button -->
    <div class="quform-submit">
        <div class="quform-submit-inner">
            <button type="submit" class="submit-button"><span>Submit</span> </button>
        </div>
        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
    </div>
    </p>
</form>